
a{
	color:#000000;
}
a:link{
	text-decoration: none;
}

img {
	padding:4px;
	width: 100%;
	min-height: 21px;
}

.result_data {
	padding-left:16px;
	padding-bottom:8px;
	overflow: hidden;
	text-decoration: none;
}

.title{
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

.result_content{
	margin:2px;
	padding:0px;
	border:2px;
	border-style: double;
	border-color: #6b0dff;
}